@page
@model CadastroCliente.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Ddd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Ddd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Senha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
